# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable find-letter': 'find-letter:go-to-next-letter'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'find-letter'
      'submenu': [
        { 'label': 'Go To Next Letter', 'command': 'find-letter:go-to-next-letter' }
      ]
    ]
  }
]
